@model Warranty.Web.Models.UserMastViewModel

<script src="~/assets/js/pages/password-addon.init.js"></script>

<div class="modal-header bg-light p-3">
    <h5 class="modal-title " id="myModalLabel">
        <i class='fas fa-user font-20'></i> Reset Password
        <i class="fa fa-close" data-dismiss="modal" style="cursor:pointer;float:right"></i>
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
</div>

<form class="validation-wizard form-horizontal form-material " id="UserPassword">
    <div class="modal-body">
        <input asp-for="UserMaster.EncId" type="hidden" />
        <div class="mb-3">
            <label asp-for="UserMaster.UserName"> Username</label> <span class="text-danger">*</span>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="ri-user-3-line"></i></span>
                <input autocomplete="off" asp-for="UserMaster.UserName" class="form-control form-floating req-border" required disabled>
                <span class="text-danger" asp-validation-for="UserMaster.UserName"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="UserMaster.Email">Email Id</label> <span class="text-danger">*</span>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="ri-user-3-line"></i></span>
                <input asp-for="UserMaster.Email" autocomplete="off" class="form-control form-floating req-border" required disabled>
            </div>
            <span class="text-danger" asp-validation-for="UserMaster.Email"></span>
        </div>

        <div class="row g-3 mb-3">
            <div class="col-xxl-6">
                <label asp-for="UserMaster.UserPassword">New Password</label> <span class="text-danger"> *</span>
                <div class="input-group auth-pass-inputgroup">
                    <span class="input-group-text password-addon" id="password-addon" style="cursor:pointer;"><i class="ri-eye-fill align-middle"></i></span>
                    <input type="password" autocomplete="off" asp-for="UserMaster.UserPassword" autocomplete="off" class="form-control form-floating req-border password-input" required>
                    <span class="text-danger" asp-validation-for="UserMaster.UserPassword"></span>
                </div>
            </div>
            <div class="col-xxl-6">
                <label asp-for="UserMaster.ConfirmPassword">Confirm Password</label> <span class="text-danger"> *</span>
                <div class="input-group auth-pass-inputgroup">
                    <span class="input-group-text password-addon" id="password-addon" style="cursor:pointer;"><i class="ri-eye-fill align-middle"></i></span>
                    <input type="password" autocomplete="off" asp-for="UserMaster.ConfirmPassword" autocomplete="off" class="form-control form-floating req-border password-input" required>
                    <span class="text-danger" asp-validation-for="UserMaster.ConfirmPassword"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success " onclick="Warranty.UserMaster.SavePassword()"><i class="ri-save-line"></i> Submit</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="ri-forbid-line"></i> Cancel</button>
    </div>
</form>

<script>
    $(".password-addon").click(function () {
        var $passwordInput = $(this).siblings(".password-input");
        if ($passwordInput.attr("type") === "password") {
            $passwordInput.attr("type", "text");
            $(this).children().removeClass().addClass("ri-eye-off-line");
        } else {
            $passwordInput.attr("type", "password");
            $(this).children().removeClass().addClass("ri-eye-line");
        }
    });

    $(".toggle-password").click(function () {
        var passwordField = $(this).siblings('input[type="password"]');

        if (passwordField.attr("type") === "password") {
            $(this).removeClass().addClass("ri-eye-fill align-middle");
            passwordField.attr("type", "text");
        } else {
            $(this).removeClass().addClass("ri-eye-fill align-middle");
            passwordField.attr("type", "password");
        }
    });
</script>

