<div class="dataTables_wrapper dt-bootstrap4 no-footer table-responsive scrollbar">
    <table id="ModelTable" class="table table-bordered nowrap  align-middle mb-0" style="width:100%">
        <thead>
            <tr>
                <th>Model No.</th>
                <th>Model Serial No.</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
