@using Warranty.Common.Utility;
@model WarrantyListViewModel


@{
    ViewBag.Title = "Due/Expired AMC/CMC Contract Report";
    ViewBag.pTitle = "Due/Expired AMC/CMC Contract Report";
    ViewBag.pageTitle = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

    <style>
        .pointermouse {
            cursor: pointer;
        }

        .accordion-header {
            line-height: 0.4;
        }

        .lefticon-accordion .accordion-button:not(.collapsed)::after {
            top: 14px !important;
        }

        .accordion-body {
            padding-top: 5px !important;
            padding-bottom: 0px !important;
        }

        .hide {
            display: none
        }

        .search {
            margin-top: -44px;
        }

        tr {
            width: 100% !important;
        }

        .dataTables_length label {
            margin-top: 0.25rem !important;
            margin-bottom: 0rem !important;
        }

        .dataTables_info {
            padding-top: 0.6rem !important
        }

        .form-control {
            padding: .25rem 2.7rem .25rem .9rem;
        }

        @@media (max-width: 768px) {
            .col-1 {
                width: 100%;
            }

            .col-2 {
                width: 100%;
            }

            .dataTables_info {
                padding-right: 3rem;
                margin-left: 3rem;
                padding-top: 0.6rem !important;
            }

            .dataTables_length {
                display: none;
            }

            .pagination {
                --vz-pagination-padding-x: 7px !important;
            }
        }

        @@media (min-width: 768px) and (max-width: 1200px) {

            .col-1 {
                width: 50%;
            }

            .col-2 {
                width: 50%;
            }

            .dataTables_info {
                padding-right: 7rem;
                margin-left: -76px;
                padding-top: 0.6rem !important;
            }

            .dataTables_length {
                display: none;
            }
        }

        .mb-3 {
            margin-bottom: 1rem !important;
            margin-right: 35px;
        }

        #DueWarrantyTable_length {
            position: absolute;
        }


        #DueWarrantyTable_length {
            position: absolute;
            visibility: hidden;
        }

        @@media (min-width: 320px)and (max-width: 991px) {
            #header {
                flex-direction: column;
            }

            #searchButton {
                width: 152px;
            }

            .btn-light {
                margin-top: 11px;
                margin-right: 15px;
            }

            .form-select {
                height: 38px;
                width: 225px;
                margin-left: 11px;
                position: relative;
            }
        }
    </style>
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0"><i class="mdi mdi-handshake">&nbsp;</i>@ViewBag.pTitle</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><i class="mdi mdi-calendar-lock">&nbsp;</i><a href="@Url.Action("Index", "Dashboard")">@ViewBag.pagetitle</a></li>
                    <li class="breadcrumb-item"><i class="mdi mdi-handshake">&nbsp;</i><a href="javascript: void(0);">@ViewBag.pTitle</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center" id="header">
                <h5 class="card-title mb-0 flex-grow-1">Due Customer AMC/CMC Contract</h5>
                <div class="col-lg-2 col-md-6 col-sm-12 d-flex align-items-center" style=" width: 13.666667%;">
                    <label for="yearDropdown" class="form-label me-2 mb-0">Year:</label>
                    <select id="yearDropdown" class="form-select" style="height: 38px; width: 170px;">
                        <option value="0">Select Year</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 d-flex align-items-center" style=" width: 13.666667%;">
                    <label for="monthDropdown" class="form-label me-2 mb-0">Month:</label>
                    <select id="monthDropdown" class="form-select" style="height: 38px; width: 170px;">
                        <option value="0">Select Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
             
                <div style="margin-right:10px;">
                    <button id="searchButton" class="btn btn-sm btn-primary" data-toggle="tooltip" title=" Search Filter"><i class="ri-add-line"></i> Search Filter</button>
                </div>
                <div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </button>
                        <div class="dropdown-menu">
                            <!-- Dropdown items for Excel and PDF downloads -->
                            <button class="dropdown-item" onclick="Warranty.Import.DownloadAMCCMCDueReport('Excel')">
                                <i class="ri-download-fill"></i> Save as Excel
                            </button>
                            <button class="dropdown-item" onclick="Warranty.Import.DownloadAMCCMCDueReport('PDF')">
                                <i class="ri-download-fill"></i> Save as PDF
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="">
                            <div class="col-12">
                                <div class="dataTables_wrapper dt-bootstrap4 no-footer top_pagging">
                                    <div class="search col-md-4" id="searchId">
                                        <div class="input-group" id="searchIdDue">
                                            <input class="form-control" id="txtSearch" asp-for="TempFilterModel.SearchText" placeholder="Search..." style="visibility:visible;" />
                                            <span class="input-group-text" id="basic-addon2" onclick="Warranty.Due_ExpiredWarranty.Search()">
                                                <i class="ri-search-line"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 tblscrollFixed dataTables_wrapper dt-bootstrap4 no-footer table-responsive scrollbar">
                                <table id="DueAMC_CMCContractTable" class="table table-bordered nowrap table-striped align-middle dt-responsive" style="width:100%">
                                    <thead class="fixedthead table-light">
                                        <tr>
                                            <th>Action</th>
                                            <th>Doctor Name</th>
                                            <th>End Date</th>
                                            <th>Contract Type </th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot id="tablefoxot" class="highlight" style="background-color:darkgray;overflow-y:scroll">
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Expired Customer AMC/CMC Contract</h5>
                <div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </button>
                        <div class="dropdown-menu">
                            <!-- Dropdown items for Excel and PDF downloads -->
                            <button class="dropdown-item" onclick="Warranty.Import.DownloadAMCCMCExpiredReport('Excel')">
                                <i class="ri-download-fill"></i> Save as Excel
                            </button>
                            <button class="dropdown-item" onclick="Warranty.Import.DownloadAMCCMCExpiredReport('PDF')">
                                <i class="ri-download-fill"></i> Save as PDF
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="hide" id="searchId">
                            <div class="col-12">
                                <div class="input-group">
                                    <input class="form-control" id="txtSearch" asp-for="TempFilterModel.SearchText" />
                                    <span class="input-group-text" id="basic-addon2" onclick="Warranty.Due_ExpiredWarranty.Search()"><i class="ri-search-line"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div class="col-12 tblscrollFixed dataTables_wrapper dt-bootstrap4 no-footer table-responsive scrollbar">
                                <table id="ExpiredAMC_CMCContractTable" class="table table-bordered nowrap table-striped align-middle dt-responsive" style="width:100%">
                                    <thead class="fixedthead table-light">
                                        <tr>
                                            <th>Action</th>
                                            <th>Doctor Name</th>
                                            <th>End Date</th>
                                            <th>Contract Type </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot id="tablefoxot" class="highlight" style="background-color:darkgray;overflow-y:scroll">
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="~/js/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/jquery-validation-unobtrusive/jquery.inputmask.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.inputmask.js" asp-append-version="true"></script>
    <script src="~/js/jquery-validation-unobtrusive/inputmask.date.extensions.js" asp-append-version="true"></script>
    <script src="~/js/jquery-validation-unobtrusive/inputmask.extensions.js" asp-append-version="true"></script>
    <script src="~/js/jquery-validation-unobtrusive/inputmask.numeric.extensions.js" asp-append-version="true"></script>
    <script src="~/js/jquery-validation-unobtrusive/inputmask.phone.extensions.js" asp-append-version="true"></script>

    <script src="~/js/custom/Warranty.Due_ExpiredAMC_CMCContractList.js"></script>
    <script src="~/js/custom/Warranty.Common.js"></script>
    <script src="~/js/custom/Warranty.Import.js"></script>
    <script src="~/assets/libs/cleave.js/cleave.min.js"></script>


    <script>
        Warranty.Due_ExpiredAMC_CMCContract.InitializeDueWarrantyTables({
            year: null,
            month: null
        });

        $('#searchButton').on('click', function () {
            const selectedYear = parseInt($('#yearDropdown').val(), 10);
            const selectedMonth = parseInt($('#monthDropdown').val(), 10);
            console.log(selectedYear);
            console.log(selectedMonth);

            if (!isNaN(selectedYear) && !isNaN(selectedMonth)) {
                Warranty.Due_ExpiredAMC_CMCContract.Option.year = selectedYear;
                Warranty.Due_ExpiredAMC_CMCContract.Option.month = selectedMonth;


                Warranty.Due_ExpiredAMC_CMCContract.Option.Table.ajax.reload();
                Warranty.Due_ExpiredAMC_CMCContract.Option.TableExpired.ajax.reload();
            } else {
                console.error("Invalid year or month selected.");
            }
        });

        $("#txtSearch").on("keyup", function () {
            var searchValue = $(this).val();
            Warranty.Due_ExpiredAMC_CMCContract.Option.Table.search(searchValue).draw();
            Warranty.Due_ExpiredAMC_CMCContract.Option.TableExpired.search(searchValue).draw();
        });


        const yearDropdown = document.getElementById('yearDropdown');

        for (let year = 2009; year <= 2029; year++) {
            const option = document.createElement('option');
            option.value = year;
            option.textContent = year;
            yearDropdown.appendChild(option);
        }
    </script>
    <script>
        window.onload = function () {
            // Get current year and month
            const currentYear = new Date().getFullYear();
            const currentMonth = new Date().getMonth() + 1; // JavaScript months are zero-based
            // Populate year dropdown with options for the last 10 years
            const yearDropdown = document.getElementById('yearDropdown');
            for (let year = currentYear; year >= currentYear - 10; year--) {
                let option = document.createElement('option');
                option.value = year;
                option.text = year;
                yearDropdown.appendChild(option);
            }
            // Set the default value to current year
            yearDropdown.value = currentYear;
            // Set the default value of month dropdown to current month
            const monthDropdown = document.getElementById('monthDropdown');
            monthDropdown.value = currentMonth;
        }
    </script>
    <script>
        window.onload = function () {
            // Get current year and month
            const currentYear = new Date().getFullYear();
            const currentMonth = new Date().getMonth() + 1; // JavaScript months are zero-based

            // Populate year dropdown with options for the last 10 years
            const yearDropdown = document.getElementById('yearDropdown');
            for (let year = currentYear; year >= currentYear - 10; year--) {
                let option = document.createElement('option');
                option.value = year;
                option.text = year;
                yearDropdown.appendChild(option);
            }

            // Set the default value to current year
            yearDropdown.value = currentYear;

            // Set the default value of month dropdown to current month
            const monthDropdown = document.getElementById('monthDropdown');
            monthDropdown.value = currentMonth;
        }
    </script>


@*    <script>
        $(document).ready(function () {

            Warranty.Due_ExpiredAMC_CMCContract.InitializeDueWarrantyTables({
                year: null,
                month: null
            });

            $('#searchButton').on('click', function () {
                const selectedYear = parseInt($('#yearDropdown').val(), 10);
                const selectedMonth = parseInt($('#monthDropdown').val(), 10);

                if (!isNaN(selectedYear) && !isNaN(selectedMonth)) {
                    Warranty.Due_ExpiredAMC_CMCContract.Option.year = selectedYear;
                    Warranty.Due_ExpiredAMC_CMCContract.Option.month = selectedMonth;


                    Warranty.Due_ExpiredAMC_CMCContract.Option.Table.ajax.reload();
                    Warranty.Due_ExpiredAMC_CMCContract.Option.TableExpired.ajax.reload();
                } else {
                    console.error("Invalid year or month selected.");
                }
            });

            $("#txtSearch").on("keyup", function () {
                var searchValue = $(this).val();
                Warranty.Due_ExpiredAMC_CMCContract.Option.Table.search(searchValue).draw();
                Warranty.Due_ExpiredAMC_CMCContract.Option.TableExpired.search(searchValue).draw();
            });



            const yearDropdown = document.getElementById('yearDropdown');

            for (let year = 2009; year <= 2029; year++) {
                const option = document.createElement('option');
                option.value = year;
                option.textContent = year;
                yearDropdown.appendChild(option);
            }


            // Warranty.Due_ExpiredAMC_CMCContract.DueInit();
            // Warranty.Due_ExpiredAMC_CMCContract.Init();



            // $("#txtSearch").on("keyup", function () {
            //     Warranty.Due_ExpiredAMC_CMCContract.Search();
            // });

            // var searchId = $("#searchId").detach();
            // $(".txtSearchId").prepend(searchId);
        });

    </script>
    <script>
        window.onload = function () {
            // Get current year and month
            const currentYear = new Date().getFullYear();
            const currentMonth = new Date().getMonth() + 1; // JavaScript months are zero-based

            // Populate year dropdown with options for the last 10 years
            const yearDropdown = document.getElementById('yearDropdown');
            for (let year = currentYear; year >= currentYear - 10; year--) {
                let option = document.createElement('option');
                option.value = year;
                option.text = year;
                yearDropdown.appendChild(option);
            }

            // Set the default value to current year
            yearDropdown.value = currentYear;

            // Set the default value of month dropdown to current month
            const monthDropdown = document.getElementById('monthDropdown');
            monthDropdown.value = currentMonth;
        }
    </script>*@

    <script src="~/assets/libs/cleave.js/cleave.min.js"></script>


}
