<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                @DateTime.Now.Year © Warranty Management
            </div>
            <div class="col-6">
                <div class="text-sm-end d-none d-sm-block">
                    Powered By <a href="@(Url.Content("https://arudhait.com//"))" target="_blank">  Arudha IT Solutions</a>
                </div>
            </div>
        </div>
    </div>
</footer>

