

<style>
    .hover-effect:hover {
        color: darkblue;
        text-decoration: underline; /* Optional: underline text on hover */
    }

    table.table-bordered.dataTable td:first-child, table.table-bordered.dataTable td:first-child {
        height: 26px;
        border-left-width: 1px;
    }

    .pagination {
        display: none;
    }

    table.table-bordered.dataTable th, table.table-bordered.dataTable td {
        font-size: small;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="card-header d-flex align-items-center">
            <a href="/Due_ExpiredWarranty/Index" class="card-title mb-0 flex-grow-1 hover-effect" style="font-weight: bold;">Due Warranty List</a>
        </div>

        <div class="card-body">
            <table id="DueWarrantyListTable" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                <thead>
                    <tr>

                        <th>Doctor Name</th>
                        <th>End Date</th>
                        <th>Engineer Name </th>
                        <th>Contract Type </th>  
                      
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

