@model Warranty.Web.Models.UserMastViewModel

<div class="modal-header bg-light p-3">
    <h5 class="modal-title" id="myModalLabel">
        <i class='ri-lock-unlock-line font-20'></i> Change Password
        <i class="fa fa-close" data-dismiss="modal" style="cursor:pointer;float:right;background-color:black;"></i>
    </h5>
</div>

<form class="validation-wizard form-horizontal form-material needs-validation" id="ChangePwdForm">
    <div class="modal-body">
        <input asp-for="UserMaster.EncId" type="hidden" />
        <div class="mb-3">
            <label asp-for="UserMaster.OldPassword">Old Password</label> <span class="text-danger"> *</span>
            <div class="input-group auth-pass-inputgroup">
                <span class="input-group-text password-addon" id="password-addon" style="cursor:pointer;"><i class="ri-eye-line align-middle toggle-password"></i></span>
                <input type="password" asp-for="UserMaster.OldPassword" autocomplete="off" class="form-control req-border password-input" placeholder="Enter Old Password" required>
            </div>
            <span class="text-danger" asp-validation-for="UserMaster.OldPassword"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UserMaster.UserPassword"> New Password</label> <span class="text-danger"> *</span>
            <div class="input-group auth-pass-inputgroup">
                <span class="input-group-text password-addon" id="password-addon" style="cursor:pointer;"><i class="ri-eye-line align-middle toggle-password"></i></span>
                <input type="password" asp-for="UserMaster.UserPassword" autocomplete="off" class="form-control req-border password-input" placeholder="Enter New password" required>
            </div>
            <span class="text-danger" asp-validation-for="UserMaster.UserPassword"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UserMaster.ConfirmPassword"> Confirm Password</label> <span class="text-danger"> *</span>
            <div class="input-group auth-pass-inputgroup">
                <span class="input-group-text password-addon" id="password-addon" style="cursor:pointer;"><i class="ri-eye-line align-middle toggle-password"></i></span>
                <input type="password" asp-for="UserMaster.ConfirmPassword" autocomplete="off" class="form-control req-border password-input" placeholder="Enter ConfirmPassword" required>
            </div>
            <span class="text-danger" asp-validation-for="UserMaster.ConfirmPassword"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success " onclick="Warranty.Common.SavePassword()">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="margin:1rem"><i class="ri-forbid-line"></i> Cancel</button>

    </div>
</form>

