@model Warranty.Web.Models.MasterViewModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>
    @@media (min-width: 320px) and (max-width: 375px) {
        .col-md-8 {
            padding: 20px;
        }

        .col-md-5 {
            width: 112px;
            padding-left: 23px;
        }

        .col-md-7 {
            width: 128px;
        }

        .imgCaptcha {
            width: 65px;
        }

        .p-4 {
            padding: 0.5rem !important;
        }

        .mt-4 {
            margin-top: 16px !important;
        }
    }

    @@media (min-width: 502px) and (max-width: 767px) {
       

        .col-md-5 {
            width: 150px;
            position: absolute;
            margin-left: 156px;
            margin-top: 29px;
        }

        .mb-0 {
            margin-bottom: 0 !important;
            position: relative;
            margin-top: 12px;
        }

        .mt-4 {
            margin-top: 0.5rem !important;
        }

        .auth-page-wrapper .auth-page-content {
            padding-bottom: 0px;
        }

        .imgCaptcha {
            width: 80px;
        }

        .col-md-5 {
            width: 150px;
        }

        .col-md-7 {
            width: 150px;
        }
    }

    @@media (min-width: 375px) and (max-width: 502px) {
        .col-md-5 {
            width: 150px;
            position: absolute;
            margin-left: 156px;
            margin-top: 29px;
        }

        .mb-0 {
            margin-bottom: 0 !important;
            position: relative;
            margin-top: 12px;
        }

        .mt-4 {
            margin-top: 1.5rem !important;
        }

        .auth-page-wrapper .auth-page-content {
            padding-bottom: 0px;
        }

        .imgCaptcha {
            width: 80px;
        }

        .col-md-5 {
            width: 150px;
        }

        .col-md-7 {
            width: 150px;
        }
    }

    @@media (min-width: 768px) and (max-width: 1024px) {
       

        .col-md-5 {
            width: 150px;
            position: absolute;
            margin-left: 156px;
            margin-top: 29px;
        }

        .mb-0 {
            margin-bottom: 0 !important;
            position: relative;
            margin-top: 12px;
        }

        .mt-4 {
            margin-top: 0.5rem !important;
        }

        .auth-page-wrapper .auth-page-content {
            padding-bottom: 0px;
        }

        .imgCaptcha {
            width: 80px;
        }

        .col-md-5 {
            width: 150px;
        }

        .col-md-7 {
            width: 150px;
        }
    }
</style>

<div class="auth-page-wrapper pt-5">
    <!-- auth page bg -->
    <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
    </div>

    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-5 mb-4 text-white-50">
                        <div>
                            <a href="@Url.Action("Index", "Dashboard")" class="d-inline-block auth-logo">
                                <img src="~/assets/images/Warranty.png" alt="" height="70">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Forgot Password?</h5>
                                <p class="text-muted">Reset password with Warranty-Management</p>

                                <lord-icon src="https://cdn.lordicon.com/rhvddzym.json"
                                           trigger="loop"
                                @* colors="primary:#0ab39c"*@
                                           colors="primary:#0986a3"
                                           class="avatar-xl">
                                </lord-icon>

                            </div>

                            <div class="alert border-0 alert-warning text-center mb-2 mx-2" role="alert">
                                Enter your email and instructions will be sent to you!
                            </div>
                            <div class="p-2">
                                <form class="row g-3 needs-validation" id="forgotPasswordForm" novalidate>
                                    <div class="mb-4">
                                        <label for="txtEmail" class="form-label">Email</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1"><i class="ri-mail-line"></i></span>
                                            <input type="text" id="txtForgotEmail" asp-for="Login.Emailid" class="form-control form-floating" placeholder="Enter Email" tabindex="1" required>
                                            <div class="invalid-feedback">
                                                <span asp-validation-for="Login.Emailid"></span>
                                            </div>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label for="CaptchaCode" class="form-label">Captcha</label>
                                        <div class="col-md-7" id="txtcaptchImg">
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon1"><i class="ri-pencil-line"></i></span>
                                                <input type="text" id="txtCaptcha2" class="form-control form-floating" asp-for="Login.CaptchaCode" placeholder="Captcha"
                                                       aria-label="Captcha" aria-describedby="basic-addon1" tabindex="3" onkeypress="return isNumber(event)" onpaste="return false;" autocomplete="off" required>
                                                <div class="invalid-feedback" id="invalidcaptcha">
                                                    <span asp-validation-for="Login.CaptchaCode"></span>
                                                </div>
                                                <div class="valid-feedback" id="validcaptcha">
                                                    Looks good!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5" id="txtcaptchImg1">
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon1" style="cursor:pointer;" href="javascript:Warranty.Common.RefreshCaptcha()"><i class="ri-refresh-line"></i></span>
                                                <img src="@Model.Login.CaptchaImage" alt="" class="imgCaptcha" height="39" width="99" style="border: solid 1px #ced4da;border-top-right-radius: 0.25rem;border-bottom-right-radius: 0.25rem; margin-left: 42px; margin-top: -39px" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center mt-4">
                                        <button class="btn w-100" style="background-color:#0f2040; color: white;" type="button" id="btnReset" onclick="ResetBtnClick()">Send Reset Link</button>
                                    </div>

                                </form><!-- end form -->
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                    <div class="mt-4 text-center">
                        <p class="mb-0">Wait, I remember my password... <a href="@Url.Action("Index", "Account")" class="fw-semibold text-primary text-decoration-underline"> Click here </a> </p>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->
</div>
<!-- end auth-page-wrapper -->
<!-- particles js -->
<script src="~/assets/libs/particles.js/particles.js"></script>

<!-- particles app js -->
<script src="~/assets/js/pages/particles.app.js"></script>

