<div class="dataTables_wrapper dt-bootstrap4 no-footer table-responsive scrollbar">
    <table id="DistrictStatetable" class="table table-bordered nowrap  align-middle mb-0" style="width:100%">
        <thead>
            <tr>
                <th>Action</th>
                <th>District Name</th>
                <th>State Name</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
